* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  font-size: 30px;
}
video {
  width: 100%;
  height: 70vh;
}
.mp4 {
  width: 30%;
  height: 5%;
}
.first {
  margin: 30px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.related {
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 20px;
}
.text {
  position: relative;
  top: 50px;
  width: 40%;
}
.main-text {
  text-align: center;
}

img {
  width: 40%;
  margin: 3%;
  margin-bottom: 10%;
}
@media screen and (max-width: 500px) {
  video {
    margin-top: 0;
    height: 60%;
  }
  .mp4 {
    width: 90%;
    height: 50%;
  }
  .first {
    width: 100%;
    margin: 3px;
    margin-bottom: 10%;
  }
  .text {
    top: 30px;
    font-size: 20px;
    width: 90%;
    text-align: center;
  }
  .related {
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
